<!DOCTYPE HTML>
<html>
  <div class="container">
    <head>
      <link href="css/application.css" rel="stylesheet" type="text/css">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
  </div>
  <body>
    <div class="player_one">
      <p> Player 1: </p> <%= @players.player_one.type %>
      <%= @players.player_one.mark %>
    </div>
    <div class="player_two">
      <p> Player 2: </p> <%= @players.player_two.type %>
      <%= @players.player_two.mark %>
    </div>
    <form method="post" action="/move">
      <ul class="board clearfix">
        <% @board.each_with_index do |square_value, index| %>
          <li id="<%= index %>" class="square">
            <% if square_value.nil? %>
              <input type="submit" name="square" value="<%= index %>">
            <% else %>
              <%= square_value %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </form>
  </body>
</html>
